*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.4s;
    font-family: "Gill Sans", sans-serif;
}
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
}

/* navbar styling */
.navbar{
    display: flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(221, 221, 221);
    padding-top: 2%;
    padding-bottom: 2%;
}


/* Logo Styling */
.logo img {
    width: 100px;
    height: 50px;;
    margin-left:1rem;
}

.logo{
    display: flex;
    align-items: center;
    margin-right: 20px; /* Space between the logo and nav links */
    flex-shrink: 0; 
}
.hamburger-menu{
    padding-right: 1.5rem;
    cursor: pointer;
}

.hamburger-menu .line{
   display: block;
   width:2.5rem;
   height: 2px;
   margin-bottom: 10px;
   background-color: black;
   cursor: pointer;
}

.nav-menu{
    position: fixed;
    width: 94%;
    top: 6rem;
    left: 18px;
    background-color:rgb(221, 221, 221);
    font-weight: 600;

}
.nav-menu a{
    display: block;
    text-align: center;
    padding: 5px 0;
}
.nav-menu a:hover{
    background-color: rgb(0, 116, 249);
}

.hide{
    display: none;
}

/* for Desktop view  */
@media screen and (min-width:600px){
    .navbar{
        justify-content: space-around;
    }
    .nav-menu{
        display: block;
        position: static;
        width: auto;
        margin-right:20px;
        background: none;
    }
    .nav-menu a{
        display: inline-block;
        padding: 15px 20px;
    }
    .nav-menu a:hover{
        background-color:  rgb(0, 116, 249);;
        border-radius: 5px;
    }
    .hamburger-menu{
        display: none;
    }
}
.fs{
    background-color: rgb(0, 116, 249);
    text-align: center;
    color: white;
    padding: 2%;
    
}

.as{
    width: 40%;            /* Limits the width to 60% of the screen (adjust as needed) */
    text-align: left;      /* Aligns the text to the left inside the container */
    padding: 10px;         /* Adds padding around the text */
    line-height: 1.4;
    color: black;
    padding-bottom: 10%;
}

.as h2{
    color: rgb(0, 116, 249);
    text-align: center;
}

.as h3{
    text-align: center;
}

.cs{
    text-align: right;
    width: 48%;                          
    line-height: 1.4;
    margin-left: 50%;
    color: black;
    padding-bottom: 10%;
}

.cs h2{
    color: rgb(0, 116, 249);
    text-align: center;
}

.cs h3{
    text-align: center;
}


.as-vs-cs{
    text-align: center;
}

.as-vs-cs h2{
    color: rgb(0, 116, 249);
    text-align: center;
}

.as-vs-cs h3{
    text-align: center;
}